<% function isActive(current_title){ return title == current_title ? "active" :
"" } %>
<div>
  <ul>
    <li><a href="/admin">Dashboad</a></li>
    <li><a href="/admin/product/">Product</a></li>
    <li><a href="/admin/category/">Category</a></li>
    <li><a href="/admin/author/">Author</a></li>
    <li><a href="/profile">Profile</a></li>
  </ul>
</div>
<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
</style>
